#nav-bar {
  /* top, left positions should be specified with position: fixed */
  position: fixed;
  top: 0;
  left: 0;
  padding: 0em 2em 0em 2em;
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  width: 100%;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  margin-left: 10px;
  line-height: 80px;
}