.new-tweet {
  display: none;
  margin: 0em 2em 0px 2em;
  padding: 10px;
  background: #ebebeb;
  border: 1px lightgrey solid;
  border-radius: 5px;
}

/* tweeter flash message for a warning or a success message */
.new-tweet .flash-message {
  /* set default display to none. when there is an error, this will change to display: block in app.js */
  display: none;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

/* warning message */
.new-tweet .flash-message.warning{
  color: #721c24;
  background-color: #f8d7da;
  border: 1px #f5c6cb solid
}

/* success message */
.new-tweet .flash-message.ok{
  color: #004085;
  background-color: #cce5ff;
  border: 1px #b8daff solid
}

.new-tweet h2 {
  margin: 0px 0px 20px 0px;
  border-bottom: 1px #3d3c3c solid;
}

textarea[name='text'] {
  padding: 5px;
  width: 100%;
}

.new-tweet .counter {
  float: right;
  line-height: 160%;
}