.new-tweet {
  @extend %main-section-style;
  display: none;
  border-radius: 5px;
  h2 {
    margin: 0px 0px 20px 0px;
    border-bottom: 1px #3d3c3c solid;
  }
  .counter {
    float: right;
    line-height: 160%;
  }
}

textarea[name='text'] {
  padding: 5px;
  width: 100%;
}