// nav
// element height for nav elements
$nav-el-height: 80px;
// top, left positions should be specified with position: fixed
%nav-fix-top {
  position: fixed;
  top: 0;
  left: 0;
}

// logo + website name
%nav-logo-group {
  float: left;
  line-height: $nav-el-height;
}

// nav - end
// main page
$mainpage-margin: 2em 2em 0em;
// main section style
%main-section-style{
  margin: $mainpage-margin;
  padding: 10px;
  background: #ebebeb;
  border: 1px lightgrey solid;
}

// new-tweet
@mixin color-flash-message($font-color, $bg-color, $border-color) {
  color: $font-color;
  background-color: $bg-color;
  border: 1px $border-color solid
}

// flash message
%flashMessage-style {
  /* set default display to none. when there is an error, this will change to display: block in app.js */
  display: none;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  /* warning message */
  &.warning {
    @include color-flash-message(#721c24, #f8d7da, #f5c6cb);
  }
  /* success message */
  &.ok {
    @include color-flash-message(#004085, #cce5ff, #b8daff);
  }
}

// new-tweet - end
// db tweet
$user-img-width: 50px;
// db tweet
// main page